.main{
    width: 98.8vw;
    padding: 5px;
}

.films{
    width:99%;
    cursor:grab;
}
.film{
    margin-top: 22px;
}
@media(max-width:567px){

}
.film .item{
    min-width:18.2rem;
    border-radius:10px;
    border:1px solid rgb(236, 226, 226);
    transition:.3s;
    margin-bottom:35px!important;
}
 @media (max-width:567px) {
    .film .item{ 
        min-width:15.71rem;
    }
}
@media (min-width:567px) and (max-width:766px){
    .film .item{
        min-width:16.33rem;
    }
}
@media (min-width:767px) and (max-width:991px){
    .film .item{
        min-width:17.01rem;
    }
}
@media (min-width:992px) and (max-width:1115px){
    .film .item{
        min-width:17.4rem;
    }
}
.film.search .item{
    width:23%;
    margin-top:30px !important;
}
.film .item:hover{
    border:1px solid #ae59d9;
    transform:scale(1.1);
}
.film .item:hover .app{
    overflow: visible;
}
.film .item img{
    width:100%;
    height:60%;
    pointer-events:none;
    border-radius:10px;
}
.film .item h3{
        height:100px;
}
.film .item p{
    font-weight:300;
}
.item .btns{
    justify-content: center;
    align-items:center;
}
.item .btns button{
background: linear-gradient(45deg, #0571f4,#ae59d9);
}
a{
    text-decoration: none;
    color:rgb(166, 159, 159);
    margin-left:10px;
    margin-right:10px;
}
a.active{
    color:#fff;
}
a.active:hover,
a:hover{
    color:#fff;
}
i{
    margin:5px;
}
@media (max-width:567px){
    .nextui-c-grJsex-iivoRvx-css{
        max-width: 100% !important;
    }
}